.about-us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1400px;

  background: #ffffff;
  padding: 70px 70px;
}

.img-carousel {
  width: 668px;
  height: 570px;
}

@media (max-width: 1400px) {
  .about-us-container {
    max-width: 1200px;
  }

  .img-carousel {
    width: 518px;
    height: 420px;
  }
}

@media (max-width: 1200px) {
  .about-us-container {
    max-width: 1075px;
  }

  .img-carousel {
    width: 438px;
    height: 340px;
  }
}

@media (max-width: 1075px) {
  .about-us-container {
    max-width: 800px;

    flex-direction: column;
    gap: 30px;
  }

  .img-carousel {
    width: 538px;
    height: 440px;
  }
}

.carousel-indicators button{
  background-color: rgba(87, 86, 86, 0.432) !important;
}

.carousel-indicators .active {
  background-color: rgb(12, 12, 12) !important;
}

.carousel-control-prev-icon {
  background-image: url("../../assets/chevron-left-solid.svg") !important;
}
 
 .carousel-control-next-icon {
  background-image: url("../../assets/chevron-right-solid.svg") !important;
 }

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-title {
  background: linear-gradient(93.9deg, #865EFF 4.55%, #C887FB 98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-shadow: -6px 8px 5px rgba(0, 0, 0, 0.1);
}

.about-us-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  max-width: 80%;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  width: 50%;

  font-size: 40px;
}

.icon {
  color: black;
  transition: filter 0.4s;
}

.icon:hover {
  filter: opacity(0.6);
}