* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}

body {
  background: #F3F3F3;
}

.navbar {
  background-color: #F8F8F8;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0px 1px 6px 0px #00000014;

  padding: 0 42px;
}

.profile-picture {
  height: 40px
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.profile-dropdown a:focus {
  box-shadow: none !important;
}

.recent-chat-card {
  color: #444b54bb;
  background: #f3f3f3;
  text-decoration: none;

  transition: color 0.5s
}

.recent-chat-card:hover {
  color: rgba(0,0,0,.9);
}

.recent-chat-card div {
  border-radius: 10px
}

.recent-chat-card div .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-profile-picture {
  width: 80%;
  border-radius: 50%;
  background: #f1f1f1;
}
