* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
}

body {
  background: #F3F3F3;
}

.navbar {
  background-color: #F8F8F8;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0px 1px 6px 0px #00000014;

  padding: 0 42px;
}

.profile-picture {
  height: 40px
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.profile-dropdown a:focus {
  box-shadow: none !important;
}